*{
	box-sizing: border-box;
}

body{
	font-family: 'Muli', sans-serif;
	margin: 0;
	padding: 0;
	color:#fff;
	font-size: 14px;;
}
header{
	margin: 0;
	background-color: #febe10;
	width: 100%;
	left: 0;
	top:0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;
	border-bottom: .5px solid #1e1e1e;

}
.logo{
	padding:4px;
	border: 3px solid #1e1e1e;
}

li{
	display: inline-block;
	padding: 0 15px;
	text-transform: uppercase;
	color: #1e1e1e;
}
a{
	text-decoration: none;
	color: #1e1e1e;
}
a:hover{
	border-bottom: 3px solid #fff;
}
section{
	margin: 0;
	padding: 20px 0;
}
.intro{
	background-color: #febe10;
}
.container{
	max-width: 90%;
	margin: 0 auto;
}
.intro >div> h1{
	font-size: 3.2em;
	text-transform: uppercase;
	font-weight: normal;
}
.about{
	color: #1e1e1e;
	font-size: 1.2em;
	line-height: 24px;
	width: 70%;
	float: left;
}
.intro >div> h3{
	font-size: 2.4em;
	font-weight: 300;
	color: #1e1e1e;
}
.experience{
	color: #1e1e1e;
	color: #1e1e1e;
	font-size: 1.2em;
	line-height: 24px;
	width: 30%;
	float: right;
	text-align: right;
}
.email{
	background-color: #1e1e1e ;
	width: 130px;
	padding: 10px 2px;
	text-align: center;
	box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, .2);
}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
}

.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

  